.selected {
  background-color: #bdc7cc !important;
  color: #000;
}

.gocs {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 17.5em;
}

.gocs li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eeeeee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}


.gocs li:hover {
  color: #5b7784;
  background-color: #dddddd;
  left: 0.1em;
}

.gocs li.selected:hover {
  background-color: #afcdd1 !important;
  color: #fff;
}

.gocs .goc-name {
  position: relative;
  top: -3px;
}

.gocs .goc-id {
  display: inline-block;
  font-size: small;
  color: #fff;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #546f7c;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
  width: 0.9em;
}

.btn-delete {
  font-family: Arial;
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  float:right;
  margin-top: 0;
  margin-right: .2em;
  background-color: gray !important;
  color:white;
}

.btn-delete:hover {
  background-color: #cfd8dc;
}




#gocs-leftcol {
  float:left;
}

#gocs-rightcol {
  float:left;
  margin: 0 1em;
}

#add-goc {
  border: 1px solid #000;
  margin-top: 0.7em;
  padding: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#add-goc h2 {
  padding-top: 0;
  margin-top: 5px;
}

#gocs-right-goc-disp {
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.form-row {
  margin-bottom: 0.5em;
}

.form-label {
  width: 3.5em;
  display:inline-block;
}
