/* Main Styles */
h1 {
  color: #369;
  font-family: Helvetica, "Trebuchet MS", sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Garamond, Helvetica, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  background: #f0f0f0;
  text-align: center;
}
body, input[text], button {
  color: #777;
  font-family: "Trebuchet MS", Cambria, Georgia;
}
a, button {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Helvetica;
  background-color: #eeeeee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}
button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eeeeee;
  color: #aaaaaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* App wide fonts for other elements */
* {
  font-family: Arial, Helvetica, sans-serif;
}


/* outer wrapper for the app to keep everything in the center fo the page */
#app-container {
  background-color: #fff;
  margin: 0 auto;
  display:inline-block;
  text-align: left;
  padding: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0 8px #aaa
}


#header {
  background-color: #10abe1;
  padding: 1em;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}

#title {
  margin: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

/* area below header and navigation, where content from different components are featured */
#content {
  margin: 1em;
}

.clear {
  clear:both;
}

#app-loading {
  display: inline-block;
  padding: 20px;
}

#dummy {
   outline: 1px solid red;
   background-color: green;
}


