<div id="content">
  <div *ngIf="goc">
    <h2>Grandmaster {{goc.name}}</h2>
    <div id="goc-detail-image"><img src="{{goc.image}}" width="300px" (error)="noImage()"></div>

    <div id="goc-detail-info">
      <div><label>ID: </label>{{goc.id}}</div>
      <div><label>Name: </label><input [(ngModel)]="goc.name" placeholder="name" /></div>
      <div><label>Rating: </label><input [(ngModel)]="goc.rating" placeholder="rating" /></div>
      <div><label>Image: </label><input [(ngModel)]="goc.image" placeholder="No Image" /></div>
      <button (click)="goBack()">Back</button>
      <button (click)="save()">Save</button>
    </div>

    <div class="clear"></div>


  </div>
</div>
