label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}

/* Image of grandmaster displayed on the details view */
#goc-detail-image {
  float: left;
  width: 300px;
}

/* Information of the grandmaster displayed on the details view */
#goc-detail-info {
  float: left;
  padding-left: 1em;
}

/* Labels in the details view info column */
#goc-detail-info label{
  display: inline-block;
  width: 3.9em;
}

/* rows in the deails view info column */
#goc-detail-info div {
  margin-bottom: 0.5em;
}